* {
    /* margin: 0; */
    /* padding: 0; se metto il padding spariscono i puntini, perché? */
    box-sizing: border-box;
}

input {
    width: 250px;
}

button {
    padding: 10px;
    margin-left: 10px;
}

.barrato {
    text-decoration-line: line-through;
}

li {
    width: 50%;
    margin-top: 15px;
    background-color: lightgrey;
}

i {
    cursor: pointer;
    float: right;
}